{% extends "bootstrap/base.html" %}


{% block title %}AMITY{% endblock %}


{% block content %}

<!doctype html>

<title>Python Flask File Upload Example</title>

<div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">

	<p>
		{% with messages = get_flashed_messages(with_categories=true) %}
	  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		  {% if messages %}
		{% for category, message in messages %}
		  <div class="alert alert-success alert-{{ category }} alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <!-- <strong>Title</strong> --> {{ message }}
		  </div>
		{% endfor %}
		  {% endif %}
		{% endwith %}
	</p>

	
	<h1>AMITY: FINAL YEAR PROJECT</h1>
	<h2>Select a file to upload</h2>

	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>

</div>


{% endblock %}
